.main-container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.add-btn{
    padding: .5rem 1rem .5rem 1rem;
    cursor: pointer;
    color: white;
    background-color: #17aaff;
    border: none;
    margin-bottom: 50px;
    margin-top: 50px;
}

.data-container{
    border: 1px solid black;
}

.data-container button{
    background-color: red;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {

  .sub-container{
      max-height: 24rem;
      height: 5rem;
  }

  .data-container{
      max-width: 300px;
  }
}



